/* -- TOP: Etch-a-Sketch -- */

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: stretch;
  background-color: #011627;
  height: 90vh;
  width: 90vw;
  margin: auto;
  margin-top: 5vh;
  border: 12px solid #ff9f1c;
}

.gridUnit {
  border: 1px dashed #011627;
}
.flexRow {
  display: flex;
  flex-direction: row;
  background-color: #41EAD4;
  /* border: 1px solid #F71735; */
}

